<div class="card">
    <div class="card-body">
        <Alert AlertMessage="_alertMessage" />
        <div class="row">
            <div class="col-md-4">
                <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="_model.OldPassword" class="form-control" id="floatingOldPassword" placeholder="@_localizer["OldPassword"]" />
                        <label for="floatingOldPassword">@_localizer["OldPassword"]</label>
                        <ValidationMessage For="@(() => _model.OldPassword)" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="_model.NewPassword" class="form-control" id="floatingNewPassword" placeholder="@_localizer["NewPassword"]" />
                        <label for="floatingNewPassword">@_localizer["NewPassword"]</label>
                        <ValidationMessage For="@(() => _model.NewPassword)" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="_model.ConfirmPassword" class="form-control" id="floatingConfirmPassword" placeholder="@_localizer["ConfirmPassword"]" />
                        <label for="floatingConfirmPassword">@_localizer["ConfirmPassword"]</label>
                        <ValidationMessage For="@(() => _model.ConfirmPassword)" />
                    </div>
                    <div class="d-grid mb-2">
                        <button disabled="@_isLoading" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase">
                            @_localizer["Save"]
                            @if (_isLoading)
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>