@if (!_isResetCompleted)
{
<div class="container-fluid">   
    <div class="mt-4">
        <div class="rounded d-flex justify-content-center">           
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center mb-4">
                    <h3 class="text-primary">@_localizer["ResetPassword"]</h3>
                </div>
                <Alert AlertMessage="_alertMessage"/>
                <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="_model.Email" class="form-control" id="floatingInputEmail" placeholder="Email" required autofocus />
                        <label for="floatingInputEmail">@_localizer["Email"]</label>
                        <ValidationMessage For="@(() => _model.Email)" />
                    </div>
                    <div class="d-grid mb-2">
                        <button disabled="@_isLoading" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase">
                            @_localizer["Reset"]
                            @if (_isLoading)
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                        </button>
                    </div>
                    <a class="d-block text-center mt-2 small" href="Account/Register">@_localizer["DontHaveAccountRegister"]</a>
                </EditForm>
            </div>
        </div>
    </div>
</div>
}
else
{
    <Alert AlertMessage="_resetCompletedMessage"/>
}